<div
    class="relative rounded-xl border-[2px] border-[#AAB0BC] p-6 min-w-[320px] w-[300px] sm:w-[420px] h-[360px] flex flex-col justify-between text-[var(--text-color)] cursor-pointer transition duration-300 hover:border-[#21AF27] group">



    <span
        class="absolute top-6 right-6 rtl:right-auto rtl:left-6 text-h1-mobile md:text-h1 font-semibold text-[var(--text-color-secondary)] transition-colors duration-300 group-hover:text-[var(--primary-color)]">
        {{ number }}
    </span>
    <div class="space-y-2 pr-8 rtl:pr-0 rtl:pl-8">
        <h3 class="text-h4-mobile md:text-h4 font-bold leading-snug">{{ title }}</h3>
        <p class="text-base text-body text-[var(--text-color-secondary)]">{{ description }}</p>
    </div>


    <div class="mt-6 flex justify-end rtl:justify-start">
        <div class="relative w-36 h-36">
            <div class="absolute inset-0 w-full h-full relative group">
                <img [src]="iconSrc" alt="icon"
                    class="absolute w-full h-full object-contain transition-opacity duration-300 group-hover:opacity-0" />
                <img [src]="greenIconSrc" alt="green icon"
                    class="absolute w-full h-full object-contain opacity-0 group-hover:opacity-100 transition-opacity duration-300" />
            </div>
        </div>
    </div>

</div>