<div class="space-y-4 max-w-4xl opacity-0 animate-fade-in-up">
    <p
        class="uppercase text-subtitle text-[var(--text-color-secondary)] font-semibold opacity-0 animate-fade-in-up delay-100">
        {{ smallTitle }}</p>
    <!--  <h2 class="text-3xl md:text-5xl font-extrabold text-gray-800 leading-tight opacity-0 animate-fade-in-up delay-600">
        {{ mainTitle }}
    </h2> -->
    <!-- <h2
        class="text-h3-mobile md:text-h3 font-extrabold text-[var(--text-color)] leading-tight opacity-0 animate-fade-in-up delay-600">
        {{ mainTitle }}
    </h2> -->

    <p
        class="text-h3-mobile md:text-h3 font-avenir font-semibold text-[var(--text-color)] leading-tight tracking-normal">
        {{ mainTitle }}
    </p>
    <p
        class="text-subtitle text-[var(--text-color-secondary)] md:text-subtitle max-w-xl opacity-0 animate-fade-in-up delay-600">
        {{ description }}
    </p>

</div>