<div class="space-y-4 max-w-4xl opacity-0 animate-fade-in-up">
    <p
        class="uppercase text-subtitle text-[var(--text-color-secondary)] font-semibold opacity-0 animate-fade-in-up delay-100">
        {{ smallTitle }}</p>



    <p *ngIf="smallTitle?.toLowerCase()?.includes('vision')"
        class="text-h2-mobile md:text-h2 font-avenir font-semibold text-[var(--text-color)] leading-tight tracking-normal">
        {{ mainTitle }}
    </p>

    <p *ngIf="!smallTitle?.toLowerCase()?.includes('vision')"
        class="text-h3-mobile md:text-h3 font-avenir font-semibold text-[var(--text-color)] leading-tight tracking-normal">
        {{ mainTitle }}
    </p>


    <p
        class="text-body text-[var(--text-color-secondary)] md:text-body max-w-xl opacity-0 animate-fade-in-up delay-600">
        {{ description }}
    </p>

</div>