<section class="px-6 md:px-12 py-16 bg-white text-gray-800">
    <!--   Desktop -->
    <div class="hidden md:grid  md:grid-cols-2 gap-12 items-start">

        <!-- Left: Text Content -->
        <div class="space-y-4">

            <div class="mb-8 md:mb-16">
                <app-text-section [smallTitle]="'TEXT_SECTION.VISION.SMALL' | translate"
                    [mainTitle]="'TEXT_SECTION.VISION.MAIN' | translate"
                    [description]="'TEXT_SECTION.VISION.DESC' | translate">
                </app-text-section>

            </div>
            <div class="grid grid-cols-2     ">

                <!-- Profile 1 -->
                <div class="flex items-center gap-4 rtl:gap-4 opacity-0 animate-zoom-in delay-100">
                    <div class="text-start rtl:text-end order-2 rtl:order-2">
                        <div class="h-1 w-8 bg-lime-500 mb-2 rtl:text-right"></div>
                        <div class="font-semibold text-sm rtl:text-right">{{ 'TEAM.PERSON_1.NAME' | translate }}</div>
                        <div class="text-subtitle text-[var(--text-color-secondary)] rtl:text-right">{{
                            'TEAM.PERSON_1.ROLE' | translate }}</div>
                    </div>
                    <img src="assets/media/images/people/shik.saud.jpg" alt="{{ 'TEAM.PERSON_1.NAME' | translate }}"
                        class="w-28 h-28 object-cover rounded-md order-1 rtl:order-1" />
                </div>

                <!-- Profile 2 -->
                <div class="flex items-center gap-4 rtl:gap-4 opacity-0 animate-zoom-in delay-100">
                    <div class="text-start rtl:text-end order-2 rtl:order-2">
                        <div class="h-1 w-8 bg-lime-500 mb-2 rtl:text-right"></div>
                        <div class="font-semibold text-sm rtl:text-right">{{ 'TEAM.PERSON_2.NAME' | translate }}</div>
                        <div class="text-subtitle text-[var(--text-color-secondary)] rtl:text-right">{{
                            'TEAM.PERSON_2.ROLE' | translate }}</div>
                    </div>
                    <img src="assets/media/images/people/eng.lamia.jpg" alt="{{ 'TEAM.PERSON_2.NAME' | translate }}"
                        class="w-28 h-28 object-cover rounded-md order-1 rtl:order-1" />
                </div>

            </div>




        </div>

        <!-- Right: 190 Video Number -->
        <!--   proud to serve -->

        <div class="relative w-[500px] h-[350px] mx-auto flex flex-col items-center justify-center space-y-5 text-center rtl:text-right"
            style="margin-top: 15%;">

            <!-- Top Label -->
            <div class="relative z-10 self-start rtl:self-start">
                <p class="text-h4 text-[var(--text-color-secondary)] font-bold text-gray-600">{{ 'SERVED.TITLE' |
                    translate }}</p>
            </div>

            <!-- Masked Video Number -->
            <div class="relative w-full h-full">
                <svg viewBox="0 0 500 400" class="absolute w-full h-full pointer-events-none">
                    <defs>
                        <mask id="video-text-mask" maskUnits="userSpaceOnUse" x="0" y="0" width="500" height="600">
                            <rect width="100%" height="100%" fill="black" />
                            <text x="50%" y="60%" text-anchor="middle" font-size="320" font-weight="bold" fill="white"
                                font-family="Arial, sans-serif">190</text>
                        </mask>
                    </defs>
                </svg>

                <!-- Masked Video -->
                <video autoplay muted loop playsinline class="absolute w-full h-full object-cover"
                    style="mask: url(#video-text-mask); -webkit-mask: url(#video-text-mask); mask-type: alpha; -webkit-mask-type: alpha;">
                    <source src="assets/media/video/no.mp4" type="video/mp4" />
                </video>
            </div>

            <!-- Bottom Label -->
            <div class="relative z-10">
                <p class="text-h3 text-[var(--text-color-primary)] ">{{ 'SERVED.COUNT_LABEL' | translate }}</p>
            </div>
        </div>



    </div>


    <!-- Mobile Layout -->
    <div class="block md:hidden space-y-10 px-6">

        <!--   <div class="flex flex-col items-center space-y-4">
            <p class="text-xl font-bold text-gray-600">Proud to Serve</p>


            <div class="relative w-full h-[220px] flex justify-center items-center">
                <svg viewBox="0 0 600 300" class="absolute w-[300px] h-full pointer-events-none">
                    <defs>
                        <mask id="video-text-mask-mobile" maskUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" fill="black" />
                            <text x="25%" y="70%" text-anchor="middle" font-size="180" font-weight="bold" fill="white"
                                font-family="Arial, sans-serif">190</text>
                        </mask>
                    </defs>
                </svg>

                <video autoplay muted loop playsinline class="w-[300px] h-full object-cover"
                    style="mask: url(#video-text-mask-mobile); -webkit-mask: url(#video-text-mask-mobile); mask-type: alpha; -webkit-mask-type: alpha;">
                    <source src="assets/media/video/no.mp4" type="video/mp4" />
                </video>
            </div>




            <p class="text-lg font-bold text-gray-800 text-center">Government Departments</p>
        </div> -->
        <div class="flex flex-col items-center space-y-4 text-center rtl:text-right">

            <!-- Top Text -->
            <p class="text-xl font-bold text-gray-600">{{ 'SERVED.TITLE' | translate }}</p>

            <!-- Masked Video -->
            <div class="relative w-full h-[220px] flex justify-center items-center">
                <svg viewBox="0 0 600 300" class="absolute w-[300px] h-full pointer-events-none">
                    <defs>
                        <mask id="video-text-mask-mobile" maskUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" fill="black" />
                            <text x="25%" y="70%" text-anchor="middle" font-size="180" font-weight="bold" fill="white"
                                font-family="Arial, sans-serif">190</text>
                        </mask>
                    </defs>
                </svg>

                <video autoplay muted loop playsinline class="w-[300px] h-full object-cover"
                    style="mask: url(#video-text-mask-mobile); -webkit-mask: url(#video-text-mask-mobile); mask-type: alpha; -webkit-mask-type: alpha;">
                    <source src="assets/media/video/no.mp4" type="video/mp4" />
                </video>
            </div>

            <!-- Bottom Text -->
            <p class="text-lg font-bold text-gray-800">{{ 'SERVED.COUNT_LABEL' | translate }}</p>
        </div>

        <!-- Temp -->
        <!--  <div class="relative w-full h-[250px]">
                <svg viewBox="0 0 500 400" class="absolute w-full h-full pointer-events-none">
                    <defs>
                        <mask id="video-text-mask-mobile" maskUnits="userSpaceOnUse">
                            <rect width="100%" height="100%" fill="black" />
                            <text x="50%" y="60%" text-anchor="middle" font-size="280" font-weight="bold" fill="white"
                                font-family="Arial, sans-serif">190</text>
                        </mask>
                    </defs>
                </svg>
                <video autoplay muted loop playsinline class="absolute w-full h-full object-cover"
                    style="mask: url(#video-text-mask-mobile); -webkit-mask: url(#video-text-mask-mobile); mask-type: alpha; -webkit-mask-type: alpha;">
                    <source src="assets/images/no.mp4" type="video/mp4" />
                </video>
            </div> -->
        <!-- Text Content -->
        <div class="space-y-4">

            <app-text-section [smallTitle]="'TEXT_SECTION.VISION.SMALL' | translate"
                [mainTitle]="'TEXT_SECTION.VISION.MAIN' | translate"
                [description]="'TEXT_SECTION.VISION.DESC' | translate">
            </app-text-section>


        </div>

        <div class="space-y-6">

            <!-- Person 1 -->
            <!-- <div class="flex items-center gap-4 rtl:gap-4 opacity-0 animate-zoom-in delay-100"> -->
            <div class="flex items-center gap-4 rtl:gap-4 opacity-0 animate-zoom-in delay-300">
                <img src="assets/media/images/people/shik.saud.jpg" alt="{{ 'TEAM.PERSON_1.NAME' | translate }}"
                    class="w-20 h-20 object-cover rounded-md order-1 rtl:order-1" />
                <div class="text-start rtl:text-end order-2 rtl:order-1">
                    <div class="h-1 w-8 bg-lime-500 mb-2"></div>
                    <div class="font-semibold text-sm  rtl:text-right">{{ 'TEAM.PERSON_1.NAME' | translate }}</div>
                    <div class="text-subtitle text-[var(--text-color-secondary)] rtl:text-right">{{ 'TEAM.PERSON_1.ROLE'
                        | translate }}</div>
                </div>
            </div>

            <!-- Person 2 -->
            <div class="flex items-center gap-4 rtl:gap-4 opacity-0 animate-zoom-in delay-400">
                <img src="assets/media/images/people/eng.lamia.jpg" alt="{{ 'TEAM.PERSON_2.NAME' | translate }}"
                    class="w-20 h-20 object-cover rounded-md order-1 rtl:order-1" />
                <div class="text-start rtl:text-end order-2 rtl:order-1">
                    <div class="h-1 w-8 bg-lime-500 mb-2"></div>
                    <div class="font-semibold text-sm rtl:text-right">{{ 'TEAM.PERSON_2.NAME' | translate }}</div>
                    <div class="text-subtitle text-[var(--text-color-secondary)] rtl:text-right">{{ 'TEAM.PERSON_2.ROLE'
                        | translate }}</div>
                </div>
            </div>

        </div>

        <!-- Temp -->
        <!-- <div class="space-y-6">

            <div class="flex items-center gap-4">
                <img src="assets/media/images/people/shik.saud.jpg" alt="Shk. Saud Al Qasimi"
                    class="w-20 h-20 object-cover rounded-md" />
                <div>
                    <div class="h-1 w-8 bg-lime-500 mb-2"></div>
                    <div class="font-semibold text-sm">Shk. Saud Al Qasimi</div>
                    <div class="text-xs text-gray-500">Director General of Sharjah Digital Department</div>
                </div>
            </div>


            <div class="flex items-center gap-4">
                <img src="assets/media/images/people/eng.lamia.jpg" alt="Eng. Lamia Al Shamsi"
                    class="w-20 h-20 object-cover rounded-md" />
                <div>
                    <div class="h-1 w-8 bg-lime-500 mb-2"></div>
                    <div class="font-semibold text-sm">Eng. Lamia Al Shamsi</div>
                    <div class="text-xs text-gray-500">Director of Sharjah Digital Department</div>
                </div>
            </div>
        </div> -->
    </div>


</section>