<!-- Wrapper with horizontal padding -->
<div class="hidden md:block">
    <div class="px-4 md:px-8">
        <div class="relative overflow-hidden rounded-3xl shadow-lg">
            <!-- Background Video -->
            <video autoplay muted loop playsinline class="w-full h-auto object-cover">
                <source src="assets/media/video/banner.mp4" type="video/mp4" />
                Your browser does not support the video tag.
            </video>





            <div
                class="absolute inset-0 top-[-250px]    bg-black/20 flex items-center text-[var(--overlay-text-color)] px-6 md:px-8 py-6">

                <div class="max-w-[550px] space-y-3 relative">

                    <!-- Title -->
                    <h1 class="text-h1-mobile md:text-h1 font-semibold leading-snug text-[var(--overlay-text-color)]">
                        {{ 'HERO.TITLE' | translate }}
                    </h1>

                    <!-- Description -->
                    <p class=" text-body-s  leading-relaxed text-[var(--overlay-text-secondary)]">
                        {{ 'HERO.DESCRIPTION' | translate }}
                    </p>



                    <!-- 190 part -->
                    <div class="absolute" style="left: 250px; bottom: -80px;">
                        <app-point (click)="toggle190()" *ngIf="!this.is190"></app-point>

                    </div>
                    <div class="absolute" style="left: 250px; bottom: -270px;">
                        <img (click)="toggle190()" *ngIf="this.is190"
                            src="../../../../assets/media/images/stats/190.svg" class="imgPopup">

                    </div>


                    <div class="absolute" style="left: 450px; bottom: -138px;">
                        <app-point (click)="toggle20()" *ngIf="!this.is20 && !this.is190"></app-point>
                    </div>

                    <div class="absolute" style="left: 250px; bottom: -148px;">
                        <img (click)="toggle20()" *ngIf="this.is20" src="../../../../assets/media/images/stats/+20.svg"
                            class="imgPopup">

                    </div>

                </div>
            </div>


            <div style="bottom: 80px;"
                class="absolute bottom-8 rtl:left-6 ltr:right-6 bg-gradient-to-br from-[var(--accent-color)] to-[var(--primary-color)] text-[var(--overlay-text-color)] rounded-[20px]  w-[270px] shadow-lg">
                <div (click)="toggle200()" *ngIf="!this.is200" class="absolute" style="right: 60px; top: -250px;">
                    <app-point></app-point>
                </div>
                <img src="../../../../assets/media/images/stats/1.2.svg" />
            </div>
            <!-- adding cards -->

            <div class="absolute" class="absolute ltr:right-[60px] rtl:left-[5px] top-[75px]">

                <img (click)="toggle200()" *ngIf="this.is200" src="../../../../assets/media/images/stats/200.svg"
                    class="imgPopup">

            </div>




            <div class="absolute bottom-4 left-4 text-[var(--overlay-text-color)] w-full max-w-5xl px-4 md:px-6">
                <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-sm">

                    <div class="text-start rtl:text-end">
                        <div class="text-body-l font-semibold mb-1">{{ 'GRID.TITLE_1' | translate }}</div>
                        <p class="text-body-s text-[var(--overlay-text-secondary)]">{{ 'GRID.TEXT_1' | translate }}</p>
                    </div>

                    <div class="text-start rtl:text-end">
                        <div class="text-body-l font-semibold mb-1">{{ 'GRID.TITLE_2' | translate }}</div>
                        <p class="text-body-s text-[var(--overlay-text-secondary)]">{{ 'GRID.TEXT_2' | translate }}</p>
                    </div>

                    <div class="text-start rtl:text-end">
                        <div class="text-body-l font-semibold mb-1">{{ 'GRID.TITLE_3' | translate }}</div>
                        <p class="text-body-s text-[var(--overlay-text-secondary)]">{{ 'GRID.TEXT_3' | translate }}</p>
                    </div>

                    <div class="text-start rtl:text-end">
                        <div class="text-body-l font-semibold mb-1">{{ 'GRID.TITLE_4' | translate }}</div>
                        <p class="text-body-s text-[var(--overlay-text-secondary)]">{{ 'GRID.TEXT_4' | translate }}</p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!-- MOBILE VERSION -->
<div class="block md:hidden px-4 mt-5">
    <div class="relative overflow-hidden rounded-3xl shadow-lg min-h-[500px]">

       
        <video autoplay muted loop playsinline class="absolute inset-0 w-full h-full object-cover rounded-3xl">
            <source src="assets/media/video/banner.mp4" type="video/mp4" />
            Your browser does not support the video tag.
        </video>

        <!-- Text Overlay -->
        <div class="absolute inset-0 flex flex-col justify-end px-4 py-6 bg-black/30 text-[var(--overlay-text-color)]">
            <div class="space-y-2 max-w-xs">
                <h1 class="text-h1-mobile md:text-h1 font-semibold leading-snug text-[var(--overlay-text-color)]">
                    {{ 'HERO.TITLE' | translate }}
                </h1>

                <p class="text-xs md:text-sm leading-relaxed text-[var(--overlay-text-secondary)]">
                    {{ 'HERO.DESCRIPTION' | translate }}
                </p>
            </div>
        </div>

    </div>
</div>


 