@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #ffffff;
    --text-color: #202020;
    --primary-color: #21AF27;
    --accent-color: #343F52;
}

.theme-default {
    --bg-color: #ffffff;
    --text-color: #202020;
    --primary-color: #21AF27;
    --accent-color: #343F52;
}

@font-face {
    font-family: 'AvenirArabic-SharjahGovt';
    src: url('/assets/fonts/AvenirArabic-SharjahGovt.woff2') format('woff2');
    /* or .ttf if applicable */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
}

:lang(ar),
[dir="rtl"] {
    font-family: 'AvenirArabic-SharjahGovt';
}



.theme-color-blind {
    --bg-color: #000000;
    --text-color: #ffff00;
    --primary-color: #ff00ff;
    --accent-color: #00ffff;
}

.theme-green {
    --bg-color: #0a4025;
    --text-color: #caffc7;
    --primary-color: #92C83E;
    --accent-color: #343F52;
}