@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-color: #ffffff;
    --text-color: #202020;
    --primary-color: #21AF27;
    --accent-color: #343F52;
    --text-color-secondary: #AAB0BC;
   

    --white: #ffffff;
    --dark-gray: #343F52;
    --dark-gray2: #484848;
    --dark-gray3: #60697B;
    --dark-gray4: #202020;
    --gray: #AAB0BC;
    --light-gray: #F6F7F8;
    --base-gray: #EDF0F2;
    --green: #21AF27;
    --light-green: #92C83E;

}

.theme-default {
    --bg-color: #ffffff;
    --text-color: #202020;
    --primary-color: #21AF27;
    --accent-color: #343F52;
    --overlay-text-color: #ffffff;
    --overlay-text-secondary:
        #F6F7F8
        /*   #AAB0BC */
        /* rgba(255, 255, 255, 0.8) */
    ;
}

@font-face {
    font-family: 'AvenirArabic-SharjahGovt';
    src: url('/assets/fonts/AvenirArabic-SharjahGovt.woff2') format('woff2');

    font-weight: normal;
    font-style: normal;
}

*:not([class^="fa"]) {
    font-family: 'Open Sans', sans-serif !important;
}


body {
    font-family: 'Inter', sans-serif;
}

/* :lang(ar),
[dir="rtl"] {
     font-family: 'AvenirArabic-SharjahGovt';
} */
:lang(ar):not(i[class*="fa"]),
[dir="rtl"]:not(i[class*="fa"]),
:lang(ar) :not(i[class*="fa"]),
[dir="rtl"] :not(i[class*="fa"]) {
    font-family: 'AvenirArabic-SharjahGovt';
}



.theme-color-blind {
    --bg-color: #000000;
    --text-color: #ffff00;
    --primary-color: #ff00ff;
    --accent-color: #00ffff;
}

.theme-green {
    --bg-color: #0a4025;
    --text-color: #caffc7;
    --primary-color: #92C83E;
    --accent-color: #343F52;
}

h1 {
    font-weight: 300 !important;
}